* {
  font-weight: 300;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 187, 187);
}

.pad-row {
  display: flex;
}

.display {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 40px;
  height: 50px;
  padding: 0px 5px;
  background-color: rgb(216, 216, 216);
  margin: 0;
}

.pad-btn {
  flex: 1;
  font-size: 30px;
  padding: 15px;
  border: 1px solid rgb(185, 185, 185);
}

.pad-num-btn {
  background-color: rgb(235, 235, 235);
}

.pad-op-btn {
  background-color: rgb(216, 216, 216);
}

.pad-calc-btn {
  background-color: rgb(255, 174, 0);
  color: white;
}